body
{
    background-color: #7A48A4;
    color: white;
    display: inline-flex;
    flex-direction: column;
    font-family: 'Itim', cursive;
}

#title
{
    background-color: #3D3C3C;
    border: 1px solid white;
}

h1
{
    text-align: center;
}

img
{
    width: 50%;
    height: auto;
    border: 1px solid black;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

.app
{
    background-color: #3D3C3C;
    text-align: center;
    padding-bottom: 2px;
}

.doc
{
    background-color: #3D3C3C;
    padding: 10px;
    margin: 10px;
}

a
{
    color: white;
}